<a href="https://colab.research.google.com/github/ThishoniaPreethiS/python-class/blob/main/Exp1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#number of employees-empty list
salary=[]
print("Adding Employees")
n=int(input("Enter number of employees"))

Adding Employees
Enter number of employees3

In [9]:
#salary details
for i in range(n):
    print("Enter monthly salary of Employee{} Rs.:".format(i+1))
    sal=int(input())
    salary.append(sal)
print("****Printing the list****")
print(salary)

Enter monthly salary of Employee1 Rs.:
50000
Enter monthly salary of Employee2 Rs.:
60000
Enter monthly salary of Employee3 Rs.:
150000
****Printing the list****
[50000, 60000, 150000]

In [10]:
#inserting value in list
salary.insert(3,170000)
print(salary)

[50000, 60000, 150000, 170000]

In [11]:
print(len(salary))

4

In [12]:
for j in range(len(salary)):
  annual_salary=salary[j]*12
  print("Annual Salary of Employee{} is Rs:{}".format(j+1,annual_salary))

Annual Salary of Employee1 is Rs:600000
Annual Salary of Employee2 is Rs:720000
Annual Salary of Employee3 is Rs:1800000
Annual Salary of Employee4 is Rs:2040000

In [15]:
#min sal
print("min sal is Rs",min(salary))

min sal is Rs 50000

In [16]:
#max sal
print("max sal is Rs",max(salary))

max sal is Rs 170000

In [19]:
#sort sal
print("sorted sal is Rs",sorted(salary))

sorted sal is Rs [50000, 60000, 150000, 170000]

In [20]:
count=0
for i in range(0,5):
  count=count+1
print(salary)

[50000, 60000, 150000, 170000]

In [22]:
del salary[2]
print(salary)

[50000, 60000]

In [25]:
count=0
if annual_salary>100000:
  count=count+1
print("{} out of {} emp earn more than 1lpa".format(count,n))

1 out of 3 emp earn more than 1lpa