<a href="https://colab.research.google.com/github/ThishoniaPreethiS/python-class/blob/main/TupleEx2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# a)tuple to create list of core subjects
core=("Python","Data Analytics","Tableau","Human Resource Management")

In [3]:
# b)tuple to create elective subjects
elect=("Power BI","R","SAS","Excel","Robotics")

In [4]:
# c)List the number of core subjects chosen by John
print("The number core subjects opted by Mr.John are",len(core))

The number core subjects opted by John are 4

In [7]:
# d)List of core subjects chosen by John
print("The core subjects opted by Mr.John are")
print("-----------------------------------------")
for i in core:
  print(i)
print("-----------------------------------------")

The core subjects opted by Mr.John are
-----------------------------------------
Python
Data Analytics
Tableau
Human Resource Management
-----------------------------------------

In [8]:
# e)Print all the number of available electives
print("The number core subjects opted by Mr.John are",len(elect))

The number core subjects opted by Mr.John are 5

In [9]:
# f)Print the list of elective subjects
print("The elective subjects are")
print("-----------------------------------------")
for i in elect:
  print(i)
print("-----------------------------------------")

The elective subjects are
-----------------------------------------
Power BI
R
SAS
Excel
Robotics
-----------------------------------------

In [18]:
# g)He chooses two electives.Get imput and display
elec1=input("Enter name of first elective from the list ")
elec2=input("Enter name of first elective from the list ")
if elec1 not in elect or elec2 not in elect:
  print ("Not found")
else:
 elec=(elec1,elec2)
 print(elec)

Enter name of first elective from the list R
Enter name of first elective from the list SAS
('R', 'SAS')

In [12]:
# h)List the electives chosen by John
print("The elective subjects chosen by John are")
print("-----------------------------------------")
for i in elec:
  print(i)
print("-----------------------------------------")

The elective subjects chosen by John are
-----------------------------------------
SAS
R
-----------------------------------------

In [20]:
# i)All subjects chosen by John
total=core+elec
print("Total subjects chosen by John are" ,len(total))
print("The subjects chosen by John are")
print("-----------------------------------------")
for i in total:
 print(i)
print("-----------------------------------------")

Total subjects chosen by John are 6
The subjects chosen by John are
-----------------------------------------
Python
Data Analytics
Tableau
Human Resource Management
R
SAS
-----------------------------------------

In [23]:
# j)Read marks and store in a tuple
m1=int(input("Enter mark1 "))
m2=int(input("Enter mark2 "))
m3=int(input("Enter mark3 "))
m4=int(input("Enter mark4 "))
m5=int(input("Enter mark5 "))
m6=int(input("Enter mark6 9"))
marks=(m1,m2,m3,m4,m5,m6)
print("----------------------")
print(marks)990

Enter mark1 100
Enter mark2 0
Enter mark3 90
Enter mark4 90
Enter mark5 100
Enter mark6 990
----------------------
(100, 0, 90, 90, 100, 90)

In [28]:
# k)Print marks scored by John in each subject
for i in range(0,len(total)):
 print(total[i],end="=")
 print(marks[i])
print("------------------------")

Python=100
Data Analytics=0
Tableau=90
Human Resource Management=90
R=100
SAS=90
------------------------

In [27]:
# l)Find max and min mark
print("Maximum mark scored is ",max(marks))
print("Minimum mark scored is ",min(marks))

Maximum mark scored is  100
Minimum mark scored is  0